#header {
    @include clearfix;

    padding-top: .4rem;
    padding-bottom: .4rem;
    text-align: center;
    border-bottom: 1px solid $color-border;

    .logo {
        @include float-right();
        margin-bottom: 0;

        h2 {
            &:after,
            &:before {
                content: " - ";
            }
        }

        h3 {
            @include heading($font-size-h6);
        }
    }

    nav {
        @include float-left();
        
        margin-top: 2 * $margin;
        margin-bottom: 0;

        > ul {
            margin: 0;

            > li {
                display: inline-block;

                > a,
                > span {
                    color: darken($color-darkgray, 20%);
                    margin: 0 ($margin / 4);
                    padding: 0 ($margin / 4);
                    //border-bottom: 1px solid $color-border;

                    @media #{$bp-5} {
                        margin: 0 $margin / 2;
                        padding: 0 $margin / 2;
                    }
                }

                > ul {
                    background: $color-link;
                    padding: 1.8rem 0 0;
                    border-radius: 0 0 .2rem .2rem;

                    li {
                        a {
                            display: block;
                            padding: ($margin / 2) $margin;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
