@charset "UTF-8";

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(/font/IRANSansWeb_Light.eot);
    src: url(/font/IRANSansWeb_Light.eot?#iefix) format("embedded-opentype"), url(/font/IRANSansWeb_Light.woff2) format("woff2"), url(/font/IRANSansWeb_Light.woff) format("woff"), url(/font/IRANSansWeb_Light.ttf) format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(/font/IRANSansWeb_Medium.eot);
    src: url(/font/IRANSansWeb_Medium.eot?#iefix) format("embedded-opentype"), url(/font/IRANSansWeb_Medium.woff2) format("woff2"), url(/font/IRANSansWeb_Medium.woff) format("woff"), url(/font/IRANSansWeb_Medium.ttf) format("truetype")
}